@model IEnumerable<AdminGastos.Models.Operacion>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <input type="hidden" name="slide" id="slide-hidden"/>
    <select id="slide" name="slide">
        <option value="10000"> 10.000</option>
        <option value="150000"> 150.000</option>
    </select>
</div>
<script>
    var hidden = document.getElementById("slide");
    var escon = document.getElementById("slide-hidden");

    escon.value = hidden.value;
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdOperacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdOperacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdOperacion">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
