@model IEnumerable<AdminGastos.Models.Operacion>



@{
    ViewData["Title"] = "Index";
    double balance = 0;
    var estilo = "color: red font-size:20px";
}
<link href="C:\Users\chewy\Desktop\ORT\2do Cuatrimestre\Nuevas Tecnologias\Proyecto Final\AdminGastos\Estilos\StyleSheet.css" rel="stylesheet" />
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="IndexFiltro" method="post">
    <input type="number" id="filtro" name="filtro" />
    <input type="submit" value="Buscar">
</form>

<form asp-action="IndexOrden" method="post">
    <select id="orden" name="orden">
        <option value="importe"> Importe </option>
        <option value="concepto"> Concepto </option>
        <option value="fecha"> Fecha </option>
        <option value="producto"> Producto </option>
    </select>
    <input type="submit" value="Ordenar" />
</form>

<form asp-action="Index" method="get">
    <input type="submit" value="Mostrar todos de nuevo"/> 
</form>

<form asp-action="query" method="post">
    <h2> Balances </h2>

    @foreach (var item in Model)
    {
        balance += item.importe;
    }

    @if(balance > 0) {
        estilo = "color:green";
    }
    else
    {
        estilo = "color:red";
    } 
    <h3 style="@(estilo)" class="link"> @balance </h3>

</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Concepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.importe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdOperacion">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdOperacion">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdOperacion">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
